# lockfiles
pnpm-lock.yaml
package-lock.json
yarn.lock
bun.lock
node_modules/

# misc
pnpm-workspace.yaml
routeTree.gen.ts
drizzle/
.drizzle/
.turbo

# build outputs
.vercel
.output
.wrangler
.netlify
dist
